
main {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 0px;
  
  @media screen and (max-width: 470px) {
    grid-template-columns: repeat(3, 100px);
  }
}

app-square {
  border: 1px gray solid;
  height: 200px;
  width: 200px;
  @media screen and (max-width: 470px) {
    height: 100px;
    width: 100px;
  }
}